<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.marakana.yamba">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.marakana.yamba.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.marakana.yamba.StatusActivity"
            android:label="@string/status_update">
            <intent-filter>
                <action android:name="com.marakana.android.yamba.action.tweet" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings">
        </activity>

        <activity android:name="com.marakana.yamba.DetailsActivity" />

        <service android:name=".RefreshService" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="com.marakana.yamba.StatusProvider"
            android:authorities="com.marakana.yamba.StatusProvider"
            android:exported="false" />

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>



        <receiver
            android:name="com.marakana.yamba.YambaWidget"
            android:exported="false" >
            <intent-filter>
                <action android:name=
                    "com.marakana.yamba.action.NEW_STATUSES" />
            </intent-filter>
            <intent-filter>
                <action android:name=
                    "android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/yamba_widget" />
        </receiver>




    </application>

</manifest>